extends layout
include _includes/skupneHTMLfunkcije.pug

block content

    #mainContent.container-fluid
      .row
        #leftColumn.col-xl-6.col-lg-6.col-md-6.col-sm-6
          #profileView.thumbnail.profileThumbnail.profilePreview
            if currentUser
              h4#profileTitle Profile #{currentUser.username}
              #userPreviewRating.rating
                if currentUser.role == 'tutor'
                  +showRating(currentUser.rating)
              p Role: #{currentUser.role}
              if currentUser.role == 'tutor' && currentUser.teachingInstitution
                p Current teaching institution: #{currentUser.teachingInstitution}
              p  #{currentUser.educationLevel} 
              p  #{currentUser.fieldOfEducation}
            else 
              h4#profileTitle Couldn't load profile data.
          if currentUser && currentUser.role == 'tutor'
            if currentUser.comments
              h4.centered-h4 Reviews (#{currentUser.comments.length}):
              each comment in currentUser.comments
                .totalAdPanel
                  .panel.panel-default.listingPanel
                    .panel-heading
                      h3#adTitle.panel-title.reviewTitle
                        //- TODO: fix to author name + edit/delete button
                        | User - 
                        +formatDate(comment.createdAt)
                        span#adPrice
                          +showRating(comment.rating)
                    .panel-body
                      p
                        | #{comment.commentText}
            a.addReviewButton(href='add-review.pug') Add Review
        #rightColumn.col-xl-6.col-lg-6.col-md-6.col-sm-6
          if currentUser
            if currentUser.role == 'tutor'
              h4.centered-h4 Active posted lectures:
            else 
              h4.centered-h4 Active posted lecture requests:
            each lecture in currentUser.postedLectures
              .totalAdPanel
                .extraHeading
                  span#userPublisher
                    span.date
                      +formatDate(lecture.createdAt)
                .panel.panel-default.listingPanel
                  .panel-heading
                    h3#adTitle.panel-title
                      | #{lecture.title}
                      if lecture.lectureType =='posted'
                        span#adPrice  #{lecture.price} €/h
                  .panel-body
                    p
                      | #{lecture.description}